
<form action="/index" method = "post">
  <label for="newWords">Klingon Word:</label>
  <input id="newWords" name="newWords" type="text">
  <button type="submit" class="btn">Add a Word</button>
</form>


<a href="/words">View Your Words</a>
