<h1>majQa'!<h1>

Your Word: $word.getWords()

<form action="/definition" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">

  <div class="form-group">
    <label for="definition">Add a Definition</label>
    <input id="definition" name="definition" type="text" class="form-control">
  </div>

  <button type="submit" class="btn">baQa'!</button>
</form>
